geckodriver.log

env/

uploads/actus/

uploads/photos/

uploads/videos/

poilaunezdjango/__pycache__/

usingapp/__pycache__/

usingapp/migrations/__pycache__/

usingapp/actuapp/__pycache__/

usingapp/actuapp/migrations/__pycache__/

usingapp/galeryapp/__pycache__/

usingapp/galeryapp/migrations/__pycache__/

usingapp/galeryapp/photoapp/__pycache__/

usingapp/galeryapp/photoapp/migrations/__pycache__/

usingapp/galeryapp/videoapp/__pycache__/

usingapp/galeryapp/videoapp/migrations/__pycache__/
