{% extends 'usingapp/base.html' %}

{% load static %}

{% block content %}
<header id="header_photos" class="masthead" style="background-image: url({% static 'usingapp/img/home-bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 site-heading">
                <h1>Photos</h1>
            </div>
            {% if photos is False %}
                <div class="alert alert-warning mx-auto">
                    Aucune photo n'est enregistrée.<br>
                </div>
            </div>
        </div>
    </header>
            {% else %}
                <!-- CAROUSEL -->
                <div class="carousel bs-vertical-slider slide col-md-12" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for photo in photos %}
                            {% if photo.id == photos.0.id %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                                <img class="d-block mx-auto img-fluid" src="{{ photo.display_url_img }}" alt="photo">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>{{ photo.title }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main_photos" class="gallery-block cards-gallery">
        <div class="container">
            <div class="row">
                {% for photo in photos %}        
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="{{ photo.image.url }}">
                                <img src="{{ photo.display_url_img }}" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6>{{ photo.title }}</h6>
                                <p class="text-muted card-text">ajoutée le {{ photo.change_date }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if paginate %}
                    <nav class="col-md-10 mx-auto" aria-label="...">
                        <div class="row">
                            {% if photos.has_previous %}
                                <a class="pag_link btn-dark col-md-3 mx-auto my-auto text-center" href="?page={{ photos.previous_page_number }}" style="color: white">&larr; Précédent</a>
                            {% endif %}
                            {% if photos.has_next %}
                                <a class="pag_link btn-dark col-md-3 mx-auto my-auto text-center" href="?page={{ photos.next_page_number }}" style="color: white">Suivant &rarr;</a>
                            {% endif %}
                        </div>
                    </nav>
                {% endif %}
            </div>
        </div>
    </main>
{% endif %}
{% endblock %}
