{% extends 'using/base.html' %}

{% load static %}

{% block content %}
<!-- Page Header -->
<header id="header_index" class="masthead" style="background-image: url({% static 'using/img/home-bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 site-heading">
                <h1>Qui sommes-nous?</h1>
                <p class="subheading text-left">La compagnie Poil au Nez est une compagnie de clown-théatre itinérante qui se situe à la frontière de l'art, du culturel, et du travail social. Ses objectifs sont de permettre la création et la diffusion de spectacle, l'animation d'ateliers de clown-théâtre, et l'intervention sociale in situ.</p>
                <p class="subheading text-left">La pédagogie de la compagnie Poil au Nez s'inscrit dans la lignée de celle du Bataclown, dont elle est signataire de la chartre, et favorise l'expression de soi par le biais de l'état de clown. Elle s'appuie sur des principes de jeux, tel que l'improvisation et l'amplification et permet de développer notre présence au monde.</p>
                <p class="subheading text-left">La pratique telle que nous la présentons favorise l'expression intime et personnelle de chacun, dans le respect et la bienveillance... mais aussi dans la poilade.</p>
                <p class="subheading text-left">Chaque personne est unique, chaque être est précieux, chaque clown est magique...</p>
            </div>
            <!-- CARD -->
            <div class="card col-lg-5">
                <img class="card-img-top" src="{% static 'using/img/zek.png' %}">
                <div class="card-body">
                    <h4 class="card-title">Franck PERE alias Zek</h4>
                    <p class="card-text">Educateur spécialisé, médiateur corporel et artistique, spécialisation "clown praticien", diplômé de l'Artec Paris, formé au Bataclown cursus "A la recherche de son propre clown", "Clown intervenant social", "Clown en milieu de soins"... Mais aussi clown-acteur et animateur d'ateliers clown-théâtre depuis 2010</p>
                </div>
            </div>
            <span class="col-lg-2"></span>
            <div class="card col-lg-5">
                <img class="card-img-top" src="{% static 'using/img/france.png' %}">
                <div class="card-body">
                    <h4 class="card-title">France GODARD alias Clochette</h4>
                    <p class="card-text">Educatrice spécialisée, formée au Bataclown... Mais aussi clown-actrice</p>
                </div>
            </div>
            <!-- CITATION -->
            <blockquote class="col-lg-12">
                <p>
                    "Les clowns vivent dans le monde de l’art, et ils désirent entrer dans la vie: un clown, c’est une oeuvre."<br><small>— Catherine Germain alias <cite>Arletti</cite></small>
                </p>
            </blockquote>
        </div>
    </div>
</header>
<!--Main Content-->
<main id="main_index" class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            La pratique du clown théâtre est une invitation à un voyage dans l’imaginaire. Par l’expression des émotions qui nous traversent au moment où l’on met le masque émerge petit à petit un personnage aux multiples facettes, toujours unique, le clown:
            <h2><span>Notre Clown</span></h2>
            Celui qui vit en nous. C’est l’enfant, l’être fragile et naïf que parfois nous n’écoutons pas ou plus, celui qui vient nous chercher en nous tirant par la manche et qui nous dit «même pas cap!», celui qui ose, qui fait...<br>
            Cet être lumineux qui veut faire dans le monde réel une entrée fracassante est nos forces et nos faiblesses, nos joies et nos peines, nos rires et nos larmes...et il joue avec... sans tabou, ni artifices.<br>
            Il est là, ici et maintenant, il n’a pas peur de viser la lune, car il sait qu’au pire, il atterrira dans les étoiles...
        </div>
        <div class="col-lg-10 mx-auto">
            <h2><span>La pratique en atelier c'est...</span></h2>
            Rencontrer son clown et exprimer ses émotions au travers de l’improvisation.<br>
            S’exprimer dans un cadre bienveillant et de groupe.<br>
            Dépasser des blocages du quotidien pour mieux (se) vivre.<br>
            Crier au monde qu’on existe. Vivre, rire, pleurer... s’accepter tel que nous sommes et le revendiquer.<br>
            Idéal pour créer des dynamiques de groupe.
        </div>
        <div class="col-lg-10 mx-auto">
            <h2><span>Les ateliers</span></h2>
            Nous proposons des formules d’ateliers programmés sur l’année, ou de stages ponctuels.<br>
            Structures associatives, scolaires, institutionelles, hospitalières:
            <ul>
                <li>A destination des usagers et/ou des professionels. Devis et projets adaptés à vos demandes et besoins, réalisation de bilans en fin de session.</li>
                <li>Stages d’initiation à la pratique du clown théâtre, pour adultes et enfants en partenariat avec l’association <i>"Les arts d’Aure à Sarrancolin"</i>.</li>
            </ul>
            Un atelier s’organise en tiers temps et veille à instaurer une progression vers l’état de clown:
            <ul>
                <li>Un travail d’échaufement, de relaxation et de mise en jeu: Corporel, vocal, de relation à l’autre et à soi, de conscience accrue de l’environnement, d’ éveil à soi et à l’autre.</li>
                <li>Un travail de scène qui vise à développer la spontanéité, le lâcher prise et le voyage dans l’imagianire.</li>
                <li>Des improvisations sur scène avec le groupe dans le rôle du public. Exploration de diverses structures de jeu.</li>
            </ul>
        </div>
        <div class="col-lg-10 mx-auto">
            <h2><span>L'intervention sociale</span></h2>
            Le clown a la spécificité d’avoir des gros sabots et d’avoir cette tendance facheuse à venir mettre son nez n’importe où...<br>
            Il fait le bonheur de tous par sa naïveté et sa franchise... il était donc normal que notre troupe puisse se rendre partout, par tout temps, et en tous lieux afin de porter un regard décallé sur le quotidien...<br>
            Nous proposons des interventions dans les structures scolaires, de soins (hôpitaux, EHPAD...), mais aussi dans l’espace public (manifestations, festival de rue, marchés...).<br>
            L’ intervention sociale au delà de la distraction qu’elle peut amener sert à favoriser un contact et à proposer, par delà la rencontre, des pistes d’improvisations et de voyages dans l’imaginaire.<br>
            Toutes nos interventions font l’objet d’une approche personnalisée, concertée, adaptée à vos demandes et besoins.
        </div>
        <div class="col-lg-10 mx-auto">
            <h2><span>Et aussi des spectacles...</span></h2>
            <div class="row">
                <div class="card col-lg-4">
                    <img id="magical_img" class="card-img-top" src="{% static 'using/img/magical.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">Ze magical Hysteric Tour</h5>
                        <p class="card-text">Spectacle d'improvisation interactif où le public donne des thèmes et Zek improvise.<br>
                        La formule existe aussi en soirée cabaret scène ouverte à tous les clowns.</p>
                    </div>
                </div>
                <div class="card col-lg-4">
                    <img class="card-img-top" src="{% static 'using/img/alapoursuite.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">A la poursuite d'une histoire</h5>
                        <p class="card-text">Conte de noël déjanté sur les origines de la plus célèbres des fêtes.<br>
                        Solo de clown-théâtre.<br>
                        <i>Ecrit et interprété par Franck Péré<br>
                        Durée 45 minutes à peu près<br>
                        Tout public à partir de 6 ans.</i></p>
                    </div>
                </div>
                <div class="card col-lg-4">
                    <img class="card-img-top" src="{% static 'using/img/clownference.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">Clownférence: Les mystères de l'Océan Atlantique</h5>
                        <p class="card-text">Une conférence scientifique qui repousse les limites du savoir... jusqu'à celles de l'absurde.<br>
                        <i>Solo de clown-théâtre<br>
                        Ecrit et interprété par Franck Péré<br>
                        Durée 45 minutes à peu près<br>
                        Tout public à partir de 8 ans.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
